@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}


:root {
    --color-light: #F7F7F7;
    --color-dark: #051922;
    --color-primary: #F28123; 
    --color-white: #FFFFFF; 
    --color-success: #8AC53E; 
    --color-danger: #FF0000; 
    ----purple-----: #6f42c1;
    ----indigo-----: #6610f2;
    ----pink-----: #d63384;
    ----orange-----: #fd7e14;
    ----yellow-----: #ffc107;
    ----green-----: #198754;
    ----teals-----: #20c997;
    ----gray-----: #adb5bd;
    ----cyan-----: #0dcaf0, #00FFFF;


    
    --border-radius-1: 8px; 
    --border-radius-2: 12px;
    
    --card-padding: 16px; /* Rembourrage de la carte */
    --card-border-radius: 20px; /* Rayon de bordure de la carte */
    
    --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Ombre de la boîte */
}

main span {
    color: gray;
}

h2 {
    font-family: Algerian;
}


body {
    font-family: 'Poppins', 'sans-serif';
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 97%;
    gap: 1.8rem;
    grid-template-columns: auto 255px;
    margin: 0 auto;
}

aside {
    position: fixed;
    width: 14rem;
    height: 50vh;
    z-index: 9999;
}

aside .top {
    /* background-color: #F28123; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-top: 1.0rem;
}

aside .top div.close {
    display: none;
}

aside .sidebar {
    background-color: #051922;
    border-radius: 15px;
    height: calc(100vh - 4rem); 
    position: relative;
    top: 0.6rem;
}

aside .sidebar a {
    display: flex;
    color: white;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in-out;
}

aside .sidebar a:hover,
aside .sidebar a.active {
    background: #F28123;
    color: white;
    margin-left: 0;
    border-left: 5px solid white;
    border-radius: 10px;
}

aside .logo {
    color: black;
    display: flex;
    align-items: center;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.1s ease-in;
}


aside .sidebar a:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}



/* ====== main style ======  */


main {
    margin-left: 16rem; /* pour compenser la largeur de l'aside fixe */
    border-right: 2px solid #F0F0F0;
    border-left: 2px solid #F0F0F0;
    padding: 20px 40px 0px 40px;
}


main header {
    display: flex;
    align-items: center;
    gap: 15px;
}

main header h5 {
    font-size: 18px;
    font-weight: normal;
}

main .separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

main .separator .info h3 {
    font-size: 30px;
}

main .separator .search {
    display: flex;
    align-items: center;
    gap: 14px;
}

main .separator .search i {
    font-size: 20px;
    color: #BDBDBD;
}

main .separator .search input {
    border: none;
    font-size: 14px;
    width: 80px;
    outline: none;
}

main .separator .search input::placeholder {
    color: #BDBDBD;
}


main .category .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    min-width: 214px;
    padding: 20px;
    border-radius: 20px;
}

main .category .item .progress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .category .item .progress .info h5{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

main .category .item .progress .info p{
    color: #fff;
    font-size: 12px;
}

main .category .item .progress .progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

main .category .item:nth-child(1) .progress .progress-bar{
    background: radial-gradient(closest-side, #006ED3 79%, transparent 80% 100%),
    conic-gradient(#208BEE 25%, #fff 0%);
}

main .category .item:nth-child(1) .progress .progress-bar::before{
    content: "75%";
}

main .category .item .progress .progress-bar::before{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

main .category .item:nth-child(1){
    background: #006ED3;
}

.hover-zoom {
    transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover {
    transform: scale(1.1);
}

.category {
    margin-bottom: 2em;
}

.subcategory {
    margin-top: 1em;
}

.subcategory h3 {
    background: #F28123;
    color: #ffffff;
    padding: 0.3em;
    margin: 0;
}

.products {
    margin-top: 2em;
}

.products h4 {
    background: #ddd;
    border-radius: 12px;
    color: #000;
    padding: 0.2em;
    margin: 0;
    font-size: 18px;
    font-family: Algerian;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products h4 a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.products h4 a i {
    font-size: 24px;
}


.products h5 {
    margin-top: 1em;
    color: #ffffff;
    background: #F28123;
    padding: 0.1em;
    text-align: center;
    font-size: 1.2em;
    display: block;
    width: 20%; 
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5em;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #051922;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #F28123;
    color: #ffffff;
}



/* ======= right style start =======  */

:root {
    --color-light: #f0f0f0;
    --color-primary: #007bff;
    --border-radius-1: 5px;
}

.right-section {
    margin-top: 0.9rem;
    position: fixed; 
    right: 10px; 
    width: 275px;
}

.right-section .nav {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.right-section .dark-mode {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right-section .nav .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* ======= right style end =======  */


.calendar {
    margin-top: 4rem;
    width: 103%;
    max-width: 380px;
    padding: 1rem;
    background: #051922;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .calendar nav {
    display: flex;
    align-items: center;
  }
  .calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .calendar ul li {
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
    color: #F0F0F0;
  }
  
  .calendar h3 {
    color: #F28123;
  }
  
  #prev,
  #next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  #prev::before,
  #next::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #F28123;
  }
  #next::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  #prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  #prev:hover::before,
  #next:hover::before {
    border-color: #fff;
  }
  .days {
    font-weight: 600;
  }
  
  .dates li.today {
    color: #fff;
    font-weight: bold;
  }
  .dates li.today::before {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F28123;
    border-radius: 50%;
    z-index: -1;
  } 
  .dates li.inactive {
    color: #F28123;
  }
  
  .animation-section {
    width: 282px;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    /* border: solid black; */
    border-radius: 15px;
    background-color: #051922;
  }
  
  .cart-icon {
    font-size: 3.2rem;
    animation: grow-shrink-scroll 2s infinite;
    /* border: solid black;
    border-radius: 15px; */
  }
  
  .cart-icon-1 {
    color: #F28123;
  }
  
  .cart-icon-2 {
    color: #ffffff;
  }
  
  .cart-icon-3 {
    color: #6EB33D;
  }
  
  @keyframes grow-shrink-scroll {
    0%, 100% {
        transform: scale(1);
        transform: translateX(0);
    }
    25% {
        transform: scale(1.5);
        transform: translateX(10px);
    }
    50% {
        transform: scale(1);
        transform: translateX(20px);
    }
    75% {
        transform: scale(1.2);
        transform: translateX();
    }
  }