{% extends '../body_dash/body_dash.html' %}
{% load static %}

    {% block css_head %}
        <link rel="stylesheet" href="{% static 'css_dash/style.css' %}">
    {% endblock %}

    {% block content %}
                <!-- ====== main section start ======= -->
                <main>

                    <div class="separator">
                        <div class="info">
                            <h3>Categories</h3>
                            <a style="color: black; font-size: medium;" href="{% url 'viewall' %}">View All</a>
                        </div> 
                    </div>
                    
                <div class="analytics">
                    {% for data in categories_data %}
                        <div class="item">
                            <div class="progress">
                                <div class="info">
                                    <h5>{{ data.categorie.nom }}</h5>
                                    <p>{{ data.nombre_produits }} Produits</p>
                                </div>
                            </div>
                            {% if data.categorie.images %}
                                <a href="{% url 'detail_cat' data.categorie.id %}">
                                    <img class="hover-zoom" src="{{ data.categorie.images.url }}" alt="" style="width: 100px;">
                                </a>
                            {% else %} 
                                <p>Aucune image</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>               
                
                </main>
                <!-- ====== main section start ======= -->
    {% endblock %} 