{% extends '../body_dash/body_dash.html' %}
{% load static %}

    {% block css_head %}
        <link rel="stylesheet" href="{% static 'css/settings2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <style>
            .alert {
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                position: relative;
            }

            .alert-success {
                background-color: #d4edda;
                color: #155724;
                border: 1px solid #c3e6cb;
            }
        
            .alert-error {
                background-color: #f8d7da;  /* Rouge clair */
                color: #721c24;  /* Texte rouge foncé */
                border: 1px solid #f5c6cb;  /* Bordure rouge */
            }
        </style>
    {% endblock %}

    {% block content %}

    <main>
        <div class="separator">
            <div class="info">
                <h3>Product</h3>
            </div>
        </div>

        <div class="cont">
            <h1>Ajouter un Produit</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="POST" class="form-grid">
                {% csrf_token %}
                <!-- Nom du produit -->
                <div class="form-group">
                    <label for="product-name">Nom du produit:</label>
                    <input type="text" id="product-name" name="name">
                </div>
    
                <!-- Code-barres -->
                <div class="form-group">
                    <label for="product-barcode">Code-barres:</label>
                    <input type="text" id="product-barcode" name="barcode">
                </div>
    
                <!-- Prix du produit -->
                <div class="form-group">
                    <label for="product-price">Prix du produit (en fcfa):</label>
                    <input type="number" id="product-price" name="price">
                </div>
    
                <!-- Quantité -->
                <div class="form-group">
                    <label for="product-quantity">Quantité:</label>
                    <input type="number" id="product-quantity" name="quantity" min="1">
                </div>
    
    
                <!-- Date de fabrication -->
                <div class="form-group">
                    <label for="product-manufacture-date">Date de fabrication:</label>
                    <input type="datetime-local" id="product-manufacture-=date" name="date_fab">
                </div>
    
                <!-- Date de péremption -->
                <div class="form-group">
                    <label for="product-expiry-date">Date de péremption:</label>
                    <input type="datetime-local" id="product-expiry-date" name="date_exp">
                </div>
    
                <!-- Fournisseur -->
                <div class="form-group">
                    <label for="fournisseur">Fournisseur(s):</label>
                    <select id="product-subcategory" name="fournisseur">
                        <option disabled selected hidden>
                            Sélectionner 
                        </option>
                        {% for fournisseur in fournisseurs  %}
                            <option value="{{ fournisseur.id }}">
                                {{ fournisseur.nom }} {{ fournisseur.prenom }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Sous-catégorie -->
                <div class="form-group">
                    <label>Sous-catégorie:</label>
                    <select id="product-subcategory" name="subcategory">
                        <option disabled selected hidden>Sélectionner une sous-catégorie</option>
                        {% for sous_cat in sous_cats  %}
                            <option value="{{ sous_cat.id }}">{{ sous_cat.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <!-- Bouton en pleine largeur -->
                <div class="form-group full-width">
                    <button type="submit" style="background-color: #F28123;">Enregistrer le produit</button>
                </div>
            </form>
        </div>
        
        </main>

    {% endblock %}